<div class="col-md-6">
  <h3>Items</h3>
  <table class="table table-striped table-hover table-custom">
    <tr>
      <th> <%= sortable "name" %></th>
      <th> <%= sortable "regular_price" %></th>
      <th> <%= sortable "sale_price" %></th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>
          <%= number_to_currency(item.regular_price, unit: "$") %>
        </td>
        <td>
          <%= number_to_currency(item.sale_price, unit: "$") %>
        </td>
      </tr>
    <% end %>
  </table>
<%= will_paginate @items %>
</div>
<div class="col-md-6">
  <h3>Purchases</h3>
  <ul class="list-group">
  <% @purchases.each do |purchase| %>
    <%= link_to purchase_path(purchase) do %>
      <li class="list-group-item"><%= purchase.name %></li>
    <% end %>
  <% end %>
  </ul>
</div>
