<h1> <%= @item.name %> </h1>
<h3> <i>Added by: <%= @item.user.email %></i></h3>
<ul>
  <li><%= @item.description %></li>
  <li><%= @item.regular_price %></li>
  <li><%= @item.sale_price %></li>

</ul>
